spring-ws-client/src/main/resources/persons.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="https://notes.eduardoeljaiek.com/spring-ws-kata/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://notes.eduardoeljaiek.com/spring-ws-kata/gen" targetNamespace="https://notes.eduardoeljaiek.com/spring-ws-kata/gen">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://notes.eduardoeljaiek.com/spring-ws-kata/gen">

    <xs:element name="getPersonsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="quantity" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPersonsResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- Allow multiple person elements -->
                <xs:element maxOccurs="unbounded" name="persons" type="tns:personDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="personDto">
        <xs:sequence>
            <xs:element name="firstname" type="xs:string"/>
            <xs:element name="lastname" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="phone" type="xs:string"/>
            <xs:element name="birthday" type="xs:date"/>
            <xs:element name="gender" type="tns:gender"/>
            <xs:element name="address" type="tns:addressDto"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="gender">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FEMALE"/>
            <xs:enumeration value="MALE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="addressDto">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="buildingNumber" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="zipcode" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPersonsRequest">
    <wsdl:part element="tns:getPersonsRequest" name="getPersonsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonsResponse">
    <wsdl:part element="tns:getPersonsResponse" name="getPersonsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonsPort">
    <wsdl:operation name="getPersons">
      <wsdl:input message="tns:getPersonsRequest" name="getPersonsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPersonsResponse" name="getPersonsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonsPortSoap11" type="tns:PersonsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPersons">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPersonsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonsPortService">
    <wsdl:port binding="tns:PersonsPortSoap11" name="PersonsPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>